<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">
    <title>Pokedex Walkthrough</title>
</head>
<div class="header-nav">
    <header>
        <p id="header-p">
            <a href="/">Pokedex</a>
        </p>
    </header>
    <nav>
        <a href="/pokemon">Pokemon</a> | 
        <a href="/pokemon/new">Add a Pokemon</a>
    </nav>
</div>
<body>