<%- include('./partials/homepage_header.ejs') %>
    <section>
        <h1>Pokedex Deliverable</h1>
        <h2>There are 150 pokemon available! Feel free to create your own pokemon or edit existing ones!</h2>
    </section>

<%- include('./partials/footer.ejs') %>