body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

nav {
    color: black;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    height: 30px;
}

button {
    margin-top: 15px;
    height: 30px;
    width: 150px;
}

h1 {
    text-align: center;
}

h5 {
    background-color: rgba(0, 0, 0, 0.5);
    color: gold;
    padding: 5px;
    border-radius: 5px;
    margin: 0 0 10px 0; 
}

img {
    height: auto;
    width: 200px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;

}

.pokemon-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 15px;
    border: 2px solid gold;
}

.line-break {
    height: 1px;
    width: 80%;
    background-color: black;
    margin-bottom: 15px;
}

.show-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
}

.show-link {
    background-color: whitesmoke;
    color: deepskyblue;
    width: 150px;
    font-weight: bolder;
    text-align: center;
    border-radius: 2px;
}

#header-p {
    margin: 0;
}